{% extends 'base.html.twig' %}



    {#{% block title %}Panier{% endblock %}

    {% block body %}
        <div class="container">
            <table class="table table-striped">
                <tr>
                    <th>Article</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Prix total</th>
                </tr>
                {% for detail in details %}
                    <tr>
                        <td>{{ detail.produit.libelle }}</td>
                        <td>{{ detail.qte }}</td>
                        <td>{{ detail.produit.prix }}</td>
                        <td>{{ detail.qte * detail.produit.prix }} €</td>

                    </tr>
                {% endfor %}
            </table>
            <div class="col-sm-8">
                {{ path('commande.validation') }}
                <a class="btn btn-success" href="">
                    valider le panier!
                </a>
            </div>


        </div>
    {% endblock %}#}