

{% extends 'base.html.twig' %}

{% block title %}Shop!{% endblock %}

{% block body %}




<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>SHOP LIST VIEW</h1>
                <p>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita</p>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">SHOP LIST VIEW</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="https://static1.squarespace.com/static/5a0bbbe62aeba5975d4e2469/5a0bc31cc83025fe16bf978b/5a0bc52bec212dec2b300380/1510720811450/yellow-tag-mon-1.jpg?format=2500w" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="https://static1.squarespace.com/static/5a0bbbe62aeba5975d4e2469/5a0bc31cc83025fe16bf978b/5a0bc52bec212dec2b300380/1510720811450/yellow-tag-mon-1.jpg?format=2500w" alt="Banner"></a></div>
        </div>

    </div>
</div><!-- Page Banner Section End -->

<!-- Feature Product Section Start -->
<div class="product-section section mt-90 mb-40">
    <div class="container">
        <div class="row">

            <div class="col-xl-9 col-lg-8 col-12 mb-50">

                <div class="row mb-50">
                    <div class="col">

                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar with-sidebar">

                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                <a class="active" href="#" data-target="list"><i class="fa fa-list"></i></a>
                            </div>

                            <!-- Product Showing -->
                            <div class="product-showing">
                                <p>Showing</p>
                                <select name="showing" class="nice-select">
                                    <option value="1">8</option>
                                    <option value="2">12</option>
                                    <option value="3">16</option>
                                    <option value="4">20</option>
                                    <option value="5">24</option>
                                </select>
                            </div>

                            <!-- Product Short -->
                            <div class="product-short">
                                <p>Short by</p>
                                <select name="sortby" class="nice-select" data-isotope-option='{ "sortBy": "original-order" }'>
                                    <option value="trending">Trending items</option>
                                    <option value="sales">Best sellers</option>
                                    <option value="rating">Best rated</option>
                                    <option value="date">Newest items</option>
                                    <option value="price-asc">Price: low to high</option>
                                    <option value="price-desc">Price: high to low</option>
                                </select>
                            </div>

                            <!-- Product Pages -->
                            <div class="product-pages">
                                <p>Pages 1 of 25</p>
                            </div>

                        </div><!-- Shop Top Bar End -->

                    </div>
                </div>

                <!-- Shop Product Wrap Start -->
                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap list with-sidebar row">


                {%  for produit in produits %}

                    <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="{{ path("produit",{'id':produit.id}) }}" class="img"><img src="{{ asset('image/'~produit.image) }}" alt="Product Image" style="height:270px;"></a>

                                <div class="wishlist-compare">
                                    <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                    <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                </div>

                                <a href="{{ path("panier.affiche",{'id': produit.id }) }}" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <h5 class="title"><a href="{{ path("produit",{'id':produit.id}) }}" class="cat">{{ produit.libelle }}</a></h5>
                                    <p><a href="{{ path("produit",{'id':produit.id}) }}">{{ produit.description }}</a></p>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">${{ produit.prix }}</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div><!-- Product End -->

                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="{{ path("produit",{'id':produit.id}) }}" class="img"><img src="{{ asset('image/'~produit.image) }}" alt="Product Image" style="height:270px;"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Audio</a>
                                        <h5 class="title"><a href="{{ path("produit",{'id':produit.id}) }}">{{ produit.libelle }}</a></h5>
                                    </div>

                                    <h5 class="price">${{ produit.prix }}</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>

                                    <div class="desc">
                                        <p>{{ produit.description }}</p>
                                    </div>

                                    <div class="actions">

                                        <a href="{{ path("panier.affiche",{'id': produit.id }) }}" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                                        <div class="wishlist-compare">
                                            <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                            <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                        </div>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Wireless connectivity </li>
                                            <li>Lightweight, Portable</li>
                                            <li>AUX Function</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div><!-- Product List End -->
                    </div>
                {% endfor %}
                </div><!-- Shop Product Wrap End -->
                 <div class="navigation">
                <div class="row mt-30">
                    <div class="col">

                        {{ knp_pagination_render( produits) }}


                    </div>
                </div>
                </div>
            </div>

            <div class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 mb-15">

                <div class="shop-sidebar mb-35">

                    <h4 class="title">CATEGORIES</h4>


                    <ul class="sidebar-category">
                     {# {{ dump(Cats) }}#}
                        {% for Cat in Cat %}

                        <li><a href="{#{{ path('produitsParCat', { 'idCat' : Cat.id}) }}#}">{{ Cat.nom }}</a>


                            <ul class="children">
                                {% for scat in Cat.sousCategories %}




                                   {# <li><a href="#}{#{{ path('produitsParCat', { 'idCat' : scat.id}) }}#}{#"{{ scat.nom }}></a>#}


                                   {# {% for sscat in scat.sousCategories %}#}
                                <li><a href="{{ path('produitsParCat', { 'idCat' : scat.id}) }}">{{ scat.nom }}</a></li>


                                {#{% endfor %}#}
                                {% endfor %}

                            </ul>

                                    </li>






                        </li>
                       {% endfor %}


                         {#{% for Cat in Cat %}

                        <li>



                           <a href="{{ path('produitsParCat', { 'idCat' : Cat.id}) }}">{{ Cat.nom }}</a>
                        </li>
                        {% for scat in Cat.sousCategories %}
                        <ul class="children">



                            <li><a href="{{ path('produitsParCat', { 'idCat' : scat.id}) }}"{{ scat.nom }}></a>

                                        {% for sscat in scat.sousCategories %}


                                <ul>

                                <li>
                                    <a href="{{ path('produitsParCat', { 'idCat' : sscat.id}) }}">{{ sscat.nom }}</a>


                                </li>

                                </ul>
                               {% endfor %}

                                </li>


                            </ul>
                        {% endfor %}

                        </li>
                        {% endfor %}#}
                        {#<li><a href="#">Home Appliances</a></li>
                        <li><a href="#">Kitchen appliances</a>
                            <ul class="children">
                                <li><a href="#">Power Bank</a></li>
                                <li><a href="#">Data Cable</a></li>
                                <li><a href="#">Power Cable</a></li>
                                <li><a href="#">Battery</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Printer & Scanner</a>
                            <ul class="children">
                                <li><a href="#">Desktop Headphone</a></li>
                                <li><a href="#">Mobile Headphone</a></li>
                                <li><a href="#">Wireless Headphone</a></li>
                                <li><a href="#">LED Headphone</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Camera & CC Camera</a></li>
                        <li><a href="#">Smart Watch</a></li>
                        <li><a href="#">Accessories</a></li>#}
                    </ul>

                </div>

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Brand</h4>

                    <ul class="sidebar-brand">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Sumsang</a></li>
                        <li><a href="#">Phillips</a></li>
                        <li><a href="#">Zeon</a></li>
                        <li><a href="#">Panasonic</a></li>
                        <li><a href="#">Uawei</a></li>
                    </ul>

                </div>

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Price</h4>

                    <div class="sidebar-price">
                        <div id="price-range"></div>
                        <input type="text" id="price-amount" readonly>
                    </div>

                </div>

                <div class="shop-sidebar mb-35">

                    <div class="banner"><a href="#"><img src="https://www.apstherapy.nl/wp-content/uploads/2013/03/aps-therapy-aanbieding.jpg" alt="Banner"></a></div>

                </div>

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Color</h4>

                    <ul class="sidebar-brand">
                        <li><a href="#">White</a></li>
                        <li><a href="#">Black</a></li>
                        <li><a href="#">Cosmic Black</a></li>
                        <li><a href="#">Rose Gold</a></li>
                        <li><a href="#">Spacegrey</a></li>
                    </ul>

                </div>

                <div class="shop-sidebar mb-35">

                    <h4 class="title">Tags</h4>

                    <div class="sidebar-tags">
                        <a href="#">smartphone</a>
                        <a href="#">Iron</a>
                        <a href="#">Trimer</a>
                        <a href="#">Smart Watch</a>
                        <a href="#">Play Station</a>
                        <a href="#">Oven</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div><!-- Feature Product Section End -->

<!-- Brands Section Start -->
<div class="brands-section section mb-90">
    <div class="container">
        <div class="row">

            <!-- Brand Slider Start -->
            <div class="brand-slider col">
                <div class="brand-item col"><img src="assets/images/brands/brand-1.png" alt="Brands"></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-2.png" alt="Brands"></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-3.png" alt="Brands"></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-4.png" alt="Brands"></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-5.png" alt="Brands"></div>
            </div><!-- Brand Slider End -->

        </div>
    </div>
</div>
{% endblock %}