{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {#<div class="row">
        <div class="col-md-6 login-form-1">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="h3 mb-3 font-weight-normal" style="font-size: 38px">Please sign in</h1>
                            <label for="inputEmail" class="sr-only">Email</label>
                            <br>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                            <br>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <br>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            #}{#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}{#

                            <button class="btn btn-lg btn-primary" type="submit">
                                Sign in
                            </button>
            </form>


            <h3 style="font-size: 50px;color: #ffffff;text-decoration: none"><a href="{{ path('app_register') }}">creer un compte</a> </h3>
        </div>
    </div>#}


<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Login</h1>
                <p>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita</p>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="https://secure.img1-fg.wfcdn.com/im/11614816/compr-r100/7693/76939552/MajorPromoHeroOverlayLarge.png" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="https://secure.img1-fg.wfcdn.com/im/11614816/compr-r100/7693/76939552/MajorPromoHeroOverlayLarge.png" alt="Banner"></a></div>
        </div>

    </div>
</div><!-- Page Banner Section End -->

<!-- Login Section Start -->
<div class="login-section section mt-90 mb-90">
    <div class="container">
        <div class="row">

            <!-- Login -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-login">

                    <h3>Login to your account</h3>





                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="container">
                            <div class="row">

                                    <label for="inputEmail" class="sr-only">Email</label>
                                    <br>
                                    <div class="col-12 mb-30"><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus></div>
                                    <br>
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <div class="col-12 mb-30"><input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required></div>
                                    <br>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >





                                    <div class="col-12"><input type="submit" value="LOGIN"></div>

                            </form>

                    <br>
                    <br/>
                            <h4 >Vous n'avez pas de compte? <a href="{{ path('app_register') }}"style="font-size:larger" >Créer un compte</a>

            </div>
                </div>
            </div>



        </div>
    </div>
</div><!-- Login Section End -->

<!-- Brands Section Start -->
<div class="brands-section section mb-90">
    <div class="container">
        <div class="row">

            <!-- Brand Slider Start -->
            <div class="brand-slider col">
                <div class="brand-item col"><img src="assets/images/brands/brand-1.png" alt="Brands"></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-2.png" alt="Brands"></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-3.png" alt="Brands"></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-4.png" alt="Brands"></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-5.png" alt="Brands"></div>
            </div><!-- Brand Slider End -->

        </div>
    </div>
</div><!-- B
{% endblock %}

