{% extends 'adminBase.html.twig' %}

{% block title %}liste {% endblock %}

{% block body %}

    <div class="container">
        <div class="contenue">

            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <h1>liste des commandes</h1>
                </div>
            </div>



            <br>
            <div class="example raper">







                <table class="table table-striped">

                    <tr>
                        <th>id</th>
                        <th>client</th>
                        <th>Date de la commande</th>
                        <th>action</th>
                        <th>action</th>
                    </tr>


                    {%  for commande in commandes %}


                        <tr>
                            <td>{{ commande.id }}</td>



                            <td>{{commande.client.id }}</td>

                            <td>{{ commande.date|date('d/m/Y')}}</a></td>







                        <td>
                                <a href="{#{{path("produit.update",{'id':produit.id})}}#}" ><button class="btn btn-primary" >Gerer les commandes</button></a>
                            </td>

                            <td> <a href="" ><button class="btn btn-danger" type="submit">suprimer</button></a></td>

                        </tr>

                   {% endfor %}

                </table>

                <div  style="margin-left: 350px;margin-top: 70px;">
                    <div class="row mt-30">
                        <div class="col">

                            {{ knp_pagination_render( commandes) }}


                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

{% endblock %}