{% extends 'adminBase1.html.twig' %}
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block title %}ajouter un usert!{% endblock %}

{% block body %}
    <div class="container">
    <div class="contenue">
        <div class="row" id="main" >
            <div class="col-sm-12 col-md-12 well" id="content">
                <h1>Ajouter un utilisateur</h1>
            </div>
        </div>


        <div class="mt-4">
            {{ form_start(formUser) }}
            <div class="col-sm-4">{{ form_row(RegistrationFormType.user,{'atr':{'placeholder':"titre du user"}}) }}</div>
            <div class="col-sm-8">{{ form_row(RegistrationFormType.email,{'atr':{'placeholder':"titre du user"}}) }}</div>
            <div class="col-sm-4">{{ form_row(RegistrationFormType.passsword,{'atr':{'placeholder':"titre du user"}}) }}</div>
            <div class="col-sm-4">{{ form_row(RegistrationFormType.adress,{'atr':{'placeholder':"titre du user"}}) }}</div>
            <div class="col-sm-4">{{ form_row(fRegistrationFormType.localite,{'atr':{'placeholder':"titre du user"}}) }}</div>

            {{ form_widget(formUser) }}
            <button class="btn btn-success" type="submit">enregistre les modification</button>
            {{ form_end(formUser) }}


        </div>
    </div>
    </div>

{% endblock %}