{% extends 'adminBase.html.twig' %}

{% block title %}liste {% endblock %}

{% block body %}

    <div class="container">
    <div class="contenue">
        <div class="row" id="main" >
            <div class="col-sm-12 col-md-12 well" id="content">
                <h1>liste des utilisateurs</h1>
            </div>
        </div>




        <div><a href="{{ path("admin.userAdd") }}" class="btn btn-success">ajouter un user</a></div>

        <br>
        <div class="example raper">







            <table class="table table-striped">

                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>email</th>

                    <th>adress</th>
                    <th>localite</th>
                    <th>cat</th>
                    <th>compte</th>
                    <th>action</th>
                    <th>action</th>
                </tr>


                {%  for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.user }}</td>
                        <td>{{ user.email }}</td>


                        <td>{{ user.adress }}</td>
                        <td>{{ user.localite }}</td>
                        <td>{{ user.cat }}</td>

                        <td>{{ user.compte }}</td>



                        <td>
                            <a href="{{path("admin.update",{'id':user.id})}}" ><button class="btn btn-primary" >metre a jour</button></a>
                        </td>

                        <td><a href="{{path("admin.user.delete",{'id':user.id})}}" ><button class="btn btn-danger" type="submit">suprimer</button></a></td>

                    </tr>

                {% endfor %}

            </table>






        </div>
    </div>
    </div>

{% endblock %}