{% extends 'adminBase.html.twig' %}

{% block title %}liste {% endblock %}

{% block body %}

    <div class="container">

        <h1>liste des produits</h1>


        <div><a href="{{ path("produit.add") }}" class="btn btn-success">ajouter un produit</a></div>

        <br>
        <div class="example raper">







            <table class="table table-striped">

                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>adress</th>
                    <th>localite</th>
                    <th>cat</th>
                    <th>compte</th>
                    <th>action</th>
                    <th>action</th>
                </tr>


                {%  for produit in produits %}
                    <tr>
                        <td><a href="#">{{ client.nom }}</a></td>

                        <td><a href="#"><img src="{{ produit.nom }}" height="50" width="50"></a></td>


                        <td><a href="#">{{ produit.adress }}</a></td>

                        <td><a href="#">{{ produit.localite }}</a></td>
                        <td><a href="#">{{ produit.cat }}</a></td>

                        <td><a href="#">{{ produit.compte }}</a></td>



                        <td>
                            <a href="{{path("produit.update",{'id':produit.id})}}" ><button class="btn btn-primary" >metre a jour</button></a>
                        </td>

                        <td> <a href="{{path("admin.produit.delete",{'id':produit.id})}}" ><button class="btn btn-danger" type="submit">suprimer</button></a></td>

                    </tr>

                {% endfor %}

            </table>






        </div>
    </div>

{% endblock %}